<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kleidi | Dashboard</title>

    <link href="/assets_custom/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets_custom/css/main.css" rel="stylesheet">

    <script src="https://js.stripe.com/v3/"></script>

    <script src="/assets_custom/js/noty.js" type="text/javascript"></script>
    <link href="/assets_custom/css/nest.css" rel="stylesheet">
    <link href="/assets_custom/css/noty.css" rel="stylesheet">

</head>

<body>

    {% include "partials_custom/header.njk" %}

    <main>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
                </div>
                <div class="card-body">
                <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                <h4 class="my-0 font-weight-normal">VIP</h4>
                </div>
                <div class="card-body">
                <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                    <li>Blah Blah Blah</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                </div>
            </div>
        </div>
    </div>
    </main>

</body>

</html>